<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funaab Automated Poultry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="system">
        <div class="sys-account">
            <div>{{currentTime}}</div>
            <div>FUNAAB POULTRY</div>
            <img src="{% static 'images/FUNAAB-Logo.png' %}" alt="" style="width:200px;">
        </div>
        <div class="system-container">
            <div class="headings">
                <header>IOT BASED POULTRY MANAGEMENT SYSTEM</header>
                <div>
                    <div class="header-text">System List <br><span>Manage all the farm system at one place</span></div>
                    <div class="egg-count">
                        <div class="value">
                            <div class="count-text">Average Egg Size (g)</div>
                            <div>{{EggData.EggWeight/EggData.EggQuantity}}</div>
                        </div>
                        <div class="date">
                            <div>Today</div>
                            <div>This week</div>
                            <div>This month</div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="the-systems" method="POST" enctype="multipart/form-data" action="/home">
                {% csrf_token %}
            <!--<div class="the-systems">-->
                <div class="feeding sec">
                    <div class="thehead">
                        <div class="sys-head">Feeding System</div>
                        {% if FeedingData.FeedingSystemFault != 0 %}
                        <div class="start">Error</div>
                        {% else %}
                        <button id="startFeeding" name="startFeeding" class="start" value="false">start</button>
                        <button id="stopFeeding" name="stopFeeding" class="stop" value="true">stop</button>
                        <!--<div class="start">Okay</div>-->
                        {% endif %}
                        <img src="{% static 'images/setting.svg'%}" alt="settings">
                    </div>
                    <div class="image">
                        <img class="chick-img" src="{% static 'images/chicken.png' %}" alt="chickens">
                    </div>
                    <div class="the-info">
                        <div class="the-amount">
                            <div class="amount">
                                <div class="level">Amount of Feed</div>
                                <span class="percent">{{FeedingData.FeedingDuration}}</span>
                            </div>
                            <div class="amount">
                                <div class="level">Water Level</div>
                                <span class="percent">75%</span>
                            </div>
                        </div>
                        <div class="info">
                            <div>
                                {% if FeedingData.FeedingStatus == 1 %}
                                    <div>Feed Distribution Status</div> <span class="valueEl">Ongoing</span>
                                {% else %}
                                    <div>Feed Distribution Status</div> <span class="valueEl">Completed</span>
                                 {% endif %}
                            </div>
                            <hr>
                            <div>
                                <div>Start time</div><span class="valueEl">{{FeedingData.StartFeedingDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>End time</div><span class="valueEl">{{FeedingData.StopFeedingDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>Next feeding time</div><span class="valueEl">{{FeedingData.NextFeedingDateTime}}</span>
                            </div>
                            <hr>
                            <div class="sys-info">
                                <div>System Information</div><span><img src="{% static 'images/arrow-right.svg'%}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="egg sec">
                    <div class="thehead">
                        <div class="sys-head">Egg Collection</div>
                        {% if EggData.EggSystemFault != 0 %}
                        <div class="start">Error</div>
                        {% else %}
                        <button id="startEgg" name="startEgg" class="start" value=0 >start</button>
                        <button id="stopEgg" name="stopEgg"class="stop" value=0 >stop</button>
                        {% endif %}
                        <img src="{% static 'images/setting.svg' %}" alt="settings">
                    </div>
                    <div class="image">
                        <img class="chick-img" src="{% static 'images/egg.png' %}" alt="eggs">
                    </div>
                    <div class="the-info">
                        <div class="info">
                            <div>
                                 {% if EggData.EggStatus == 1 %}
                                    <div>Egg Collection Status</div> <span class="valueEl">Ongoing</span>
                                {% else %}
                                    <div>Egg Collection Status</div> <span class="valueEl">Completed</span>
                                 {% endif %}
                                <!--<div>Egg Collection Status</div><span class="valueEl">{{EggData.EggStatus}}</span>-->
                            </div>
                            <hr>
                            <div>
                                <div>Number of Eggs</div> <span class="valueEl">4</span>
                            </div>
                            <hr>
                            <div>
                                <div>Start time</div><span class="valueEl">{{EggData.StartEggDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>End time</div><span class="valueEl">{{EggData.StopEggDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>Next Collection time</div><span class="valueEl">{{EggData.NextEggDateTime}}</span>
                            </div>
                            <hr>
                            <div class="sys-info">
                                 <div>System Information</div><span><img src="{% static 'images/arrow-right.svg'%}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="waste sec">
                    <div class="thehead">
                        <div class="sys-head">Waste Removal</div>
                        {% if WasteData.WasteSystemFault != 0 %}
                        <div class="start">Error</div>
                        {% else %}
                       <!-- <div class="start">start</div>-->
                        <button id="startWaste" name="startWaste" class="start">start</button>
                        <button id="stopWaste" name="stopWaste"class="stop">stop</button>
                        {% endif %}
                       <img src="{% static 'images/setting.svg' %}" alt="settings">
                    </div>
                    <div class="image">
                        <img class="chick-img" src="{% static 'images/waste.png' %}" alt="waste">
                    </div>
                    <div class="the-info">
                        <div class="the-amount">
                            <div class="amount">
                                <div class="feed-amount waste-level">Waste Level</div>
                                <span class="percent">75%</span>
                            </div>
                        </div>
                        <div class="info">
                            <div>
                                <!--<div>Waste Removal Status</div> <span class="valueEl">{{WasteData.WasteStatus}}</span>-->
                                 {% if WasteData.WasteStatus == 1 %}
                                    <div>Waste Removal Status</div> <span class="valueEl">Ongoing</span>
                                {% else %}
                                    <div>Waste Removal Status</div> <span class="valueEl">Completed</span>
                                 {% endif %}
                            </div>
                            <hr>
                            <div>
                                <div>Start time</div><span class="valueEl">{{WasteData.StartWasteDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>End time</div><span class="valueEl">{{WasteData.StopWasteDateTime}}</span>
                            </div>
                            <hr>
                            <div>
                                <div>Next Waste Removal</div><span class="valueEl">{{WasteData.NextWasteDateTime}}</span>
                            </div>
                            <hr>
                            <div class="sys-info">
                                <div>System Information</div><span><img src="{% static 'images/arrow-right.svg' %}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="water_reservior sec">
                    <div class="thehead">
                        <div class="sys-head">Water Reservoir</div>
                        {% if WaterData.WaterSystemFault != 0 %}
                        <div class="start">Error</div>
                        {% else %}
                        <button class="start">start</button>
                        <button class="stop">stop</button>
                        {% endif %}
                        <img src="{% static 'images/setting.svg' %}" alt="settings">
                    </div>
                    <div class="image">
                        <img class="chick-img" src="{% static 'images/water.png' %}" alt="water">
                    </div>
                    <div class="the-info">
                        <div class="the-amount">
                        	<!---Check this comment for water level bar -->
                            <!-- <div class="amount">
                                <div class="level">Water Level</div>
                                <span class="percent">75%</span>
                            </div> -->
                            
                        </div>
                        <div class="info">
                            <div>
                                <div>Water Level</div> <span class="valueEl">High</span>
                            </div>
                            <div>
                                 {% if WaterData.WaterStatus == 1 %}
                                    <div>Pumping water</div> <span class="valueEl">Ongoing</span>
                                 {% else %}
                                    <div>Pumping water</div> <span class="valueEl">Completed</span>
                                 {% endif %}
                                <!--<div>Pumping water</div> <span class="valueEl">{{WaterData.WaterStatus}}</span>-->
                            </div>
                            <hr>
                            <div class="sys-info">
                                <div>System Information</div><span><img src="{% static 'images/arrow-right.svg' %}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
            </form>
        </div>
    </div>
    <!--<script src="{%static 'script.js'%}"></script>-->
    <script>let startFeedingButton = document.getElementById('startFeeding');
let stopFeedingButton = document.getElementById('stopFeeding');
let startEggButton = document.getElementById('startEgg');
let stopEggButton = document.getElementById('stopEgg');
let startWasteButton = document.getElementById('startWaste');
let stopWasteButton = document.getElementById('stopWaste');




let Button = document.getElementsByClassName('system-container');

let feedingProcess = 'stop';

startFeedingButton.addEventListener('click', function(){
    startFeedingButton.value = 1
    console.log("startFeedingButton:", startFeedingButton.value);
})
stopFeedingButton.addEventListener('click', function(){
    stopFeedingButton.value = 1
    console.log("stopFeedingButton:", stopFeedingButton.value);
})
startEggButton.addEventListener('click', function(){
    startEggButton.value = 1
    console.log("startEggButton:", startEggButton.value);
})
stopEggButton.addEventListener('click', function(){
    stopEggButton.value = 1;
    console.log("stopEggButton:", stopEggButton.value);
})
startWasteButton.addEventListener('click', function(){
    startWasteButton.value = 1;
    console.log("startWasteButton:", startWasteButton.value);
})
stopWasteButton.addEventListener('click', function(){
    stopWasteButton.value = 1;
    console.log("stopWasteButton:", stopWasteButton.value);
})
</script>
</body>

</html>
